/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 18, 2016, 12:47:02 AM
    Author     : Roberts
*/

html, body{
    min-height: 100%;
}

body {
    text-align: center;
    background-size: cover;
    background-image: url(../img/background.jpg);
    align-content: center;
}

#bantool {
    text-align: center;
}

#overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    cursor: wait;
}

.map {
    width: 285px;
    height: 165px;
    display: inline-block;
    border-radius: 45px;
    color: #E0E0E0;
    font-weight: bold;
    font-size: 15pt;
    cursor: pointer;
    text-shadow: -1px 0 #505050, 0 1px #505050, 1px 0 #505050, 0 -1px #505050;
    margin: 4px 2px;
}

.map:hover :not(.banned){
    color: white;
}

.banned {
    cursor: default;
    text-decoration: line-through;
    font-style: italic;
}

/* Icon section */

#keep {
    background-image:url(../img/keep.jpg);
}

#keep:hover {
    background-image:url(../img/keep_ban.jpg);
}

#pass {
    background-image:url(../img/pass.jpg);
}

#pass:hover {
    background-image:url(../img/pass_ban.jpg);
}


#fortress {
    background-image:url(../img/fortress.jpg);
}

#fortress:hover {
    background-image:url(../img/fortress_ban.jpg);
}


#falls {
    background-image:url(../img/falls.jpg);
}

#falls:hover {
    background-image:url(../img/falls_ban.jpg);
}


#hall {
    background-image:url(../img/hall.jpg);
}

#hall:hover {
    background-image:url(../img/hall_ban.jpg);
}


#stadium {
    background-image:url(../img/stadium.jpg);
}

#stadium:hover {
    background-image:url(../img/stadium_ban.jpg);
}


#grove {
    background-image:url(../img/grove.jpg);
}

#grove:hover {
    background-image:url(../img/grove_ban.jpg);
}

div#info {
    padding: 5px;
    margin: 0px auto 10px auto;
    background-color: rgba(40,40,80, 0.5);
    width: 220px;
    border-radius: 22px;
}

div#bantool {
    padding: 10px 10px;
    margin-bottom: 20px;
    background-color: rgba(40,40,80, 0.5);
    border-radius: 60px;
    display: inline-block;
}

/* Message format */

span#message
{
    font-size: 17pt;
    display:block;
    font-weight: bold;
    color: #d0d0d0;
}

span#player 
{
    font-size: 14pt;
    font-style: italic;
    color: #e0e0e0;
}