/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 9, 2016, 2:36:26 PM
    Author     : rober
*/

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    display:inline-block;
    text-decoration: none;
    color: initial;
    margin: 3px 1px;
    padding: 1px;
}

#sample1, #sample2 {
    width: 475px;
}

body {
    text-align: center;
    color: #e0e0e0;
    background-image: url(../img/background.jpg);
    background-size: cover;
}

div#wrapper {
    padding: 10px;
    margin: 20px;
    background-color: rgba(40,40,80, 0.5);
    border-radius: 10px;
    display: inline-block;
}