/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 18, 2016, 12:47:02 AM
    Author     : Roberts
*/

#bantool {
    text-align: center;
}

.map {
    width: 285px;
    height: 165px;
    display: inline-block;
    border-radius: 45px;
    color: #E0E0E0;
    font-weight: bold;
    font-size: 15pt;
    cursor: pointer;
    text-shadow: -1px 0 #505050, 0 1px #505050, 1px 0 #505050, 0 -1px #505050;
}

.map:hover {
    color: white;
}

/* Icon section */

#keep {
    background-image:url(img/keep.jpg);
}

#keep:hover {
    background-image:url(img/keep_ban.jpg);
}

#pass {
    background-image:url(img/pass.jpg);
}

#pass:hover {
    background-image:url(img/pass_ban.jpg);
}


#fortress {
    background-image:url(img/fortress.jpg);
}

#fortress:hover {
    background-image:url(img/fortress_ban.jpg);
}


#falls {
    background-image:url(img/falls.jpg);
}

#falls:hover {
    background-image:url(img/falls_ban.jpg);
}


#hall {
    background-image:url(img/hall.jpg);
}

#hall:hover {
    background-image:url(img/hall_ban.jpg);
}


#stadium {
    background-image:url(img/stadium.jpg);
}

#stadium:hover {
    background-image:url(img/stadium_ban.jpg);
}


#grove {
    background-image:url(img/grove.jpg);
}

#grove:hover {
    background-image:url(img/grove_ban.jpg);
}

/* Message format */

a#message_text
{
    font-weight: bold;
}

#player 
{
    font-size: 20pt;
    font-style: italic;
    color: #404040;
}